<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
        <div class = "col-md-12 header-container text-center title">
          <h1>JESSICA ROWLAND</h1>
          <h3>Software Developer</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="navigation">
            <li>
              <a href="/index.html">HOME</a>
            </li>
            <li>
              <a href="about.html">ABOUT</a>
            </li>
            <li>
              <a href="projects.html">PROJECTS</a>
            </li>
            <li>
              <a href="contact.html">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row main-container">
        <%= yield %>
      </div>
      <div class="row">
        <div class="col-md-12 text-center footer">Jessica Rowland &copy; 2016</div>
      </div>
    </div>
  </body>
</html>
